# Churner Random Forest Classifier

In [1]:
%%html
<a href="https://www.kaggle.com/datasets/gauravtopre/bank-customer-churn-dataset/data?select=Bank+Customer+Churn+Prediction.csv">Bank Customer Churn Dataset</a>

In [2]:
from sklearn.metrics import classification_report 
from sklearn.model_selection import train_test_split 
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/CUNYTechPrep/2023-fall-DS-dev/main/2023-curriculum/Week-07-Decision-Trees-n-RandomForest/data/Bank%20Customer%20Churn%20Prediction.csv?token=GHSAT0AAAAAACI5TBWALD4NMVULSDPPXZDCZJMTQKQ")

In [4]:
print(df["country"].unique())
print(df["gender"].unique())

['France' 'Spain' 'Germany']
['Female' 'Male']

In [5]:
df.replace({'country' : { 'France' : 1, 'Spain' : 2, 'Germany' : 3 }}, inplace=True)
df.replace({'gender' : { 'Male' : 1, 'Female' : 2 }}, inplace=True)
df

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,1,2,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,2,2,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,1,2,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,1,2,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,2,2,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,1,1,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,1,1,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,1,2,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,3,1,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,1,2,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df['churn'].value_counts()

0    7963
1    2037
Name: churn, dtype: int64

In [7]:
X = df.drop(["churn"], axis=1) 
y = df['churn'] 

X_train, X_test,y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42) 
X_train.shape, X_test.shape

((7500, 11), (2500, 11))

In [8]:
model = RandomForestClassifier(n_estimators = 2) 
model.fit(X_train, y_train) 

# predict the model 
y_pred = model.predict(X_test) 

# performance evaluation metrics 
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.96      0.85      0.90      2262
           1       0.30      0.62      0.40       238

    accuracy                           0.82      2500
   macro avg       0.63      0.73      0.65      2500
weighted avg       0.89      0.82      0.85      2500

In [9]:
param_grid = {  
    'criterion' : ['gini', 'entropy'],
    'max_features': ['sqrt', 'log2', None], 
    'max_depth': [5, 10, 15], 
    'max_leaf_nodes': [5, 10, 15],
    'min_samples_split' : [2, 5 ,10, 15, 20]
}

# GridSearchCV

In the Grid Search technique, we systematically explore every possible combination from a predefined list of hyperparameter values. This process resembles a grid, where values are arranged in a matrix. Each unique parameter set is carefully assessed, and the model's accuracy is recorded. After evaluating all combinations, the model with the parameter set that yields the highest accuracy is identified as the optimal choice.

In [10]:
grid_search = GridSearchCV(model, param_grid=param_grid) 
grid_search.fit(X_train, y_train) 
print(grid_search.best_estimator_)

RandomForestClassifier(max_depth=5, max_features=None, max_leaf_nodes=15,
                       min_samples_split=5, n_estimators=2)

In [11]:
model_grid = grid_search.best_estimator_
model_grid.fit(X_train, y_train) 
y_pred_grid = model.predict(X_test) 
print(classification_report(y_pred_grid, y_test))

              precision    recall  f1-score   support

           0       0.96      0.85      0.90      2262
           1       0.30      0.62      0.40       238

    accuracy                           0.82      2500
   macro avg       0.63      0.73      0.65      2500
weighted avg       0.89      0.82      0.85      2500

# RandomizedSearchCV

Random search involves exploring various combinations of hyperparameters randomly to discover the optimal solution for a constructed model. This technique tests out random combinations within specified value ranges. To optimize through random search, the function is assessed at a certain number of randomly selected configurations within the parameter space.

In [12]:
random_search = RandomizedSearchCV(model,param_grid) 
random_search.fit(X_train, y_train) 
print(random_search.best_estimator_)

RandomForestClassifier(max_depth=10, max_features=None, max_leaf_nodes=15,
                       min_samples_split=20, n_estimators=2)

In [13]:
model_random = random_search.best_estimator_
model_random.fit(X_train, y_train) 
y_pred_rand = model.predict(X_test) 
print(classification_report(y_pred_rand, y_test))

              precision    recall  f1-score   support

           0       0.96      0.85      0.90      2262
           1       0.30      0.62      0.40       238

    accuracy                           0.82      2500
   macro avg       0.63      0.73      0.65      2500
weighted avg       0.89      0.82      0.85      2500